@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

:root {
    --dark-color: #131313;
    --gray-color: #727272;
    --orange-color: #FF900E;
    --white-color: #fff;
    --light-peach-color: #FFF4E7;
    --rgba-color: rgba(255, 144, 14, 0.10);

}

/* nested css */
.container {
    max-width: 1140px;
    margin: 0 auto;
}

.h2 {
    color: var(--dark-color);
    font-size: 40px;
    font-weight: 500;
}

.p {
    color: var(--gray-color);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
}

.btn-primary {
    border-radius: 8px;
    background: var(--orange-color);
    padding: 15px 20px;
    color: var(--white-color);
    font-size: 15px;
    border: none;
    margin-top: 1rem;
}

.m-y {
    margin: 100px 0;
}

li {
    list-style: none;
}

/* header-section */
#header-section {
    background-color: var(--rgba-color);
}

.nav-title {
    color: var(--dark-color);
    text-align: center;
    font-size: 35px;
    font-weight: 700;
}

.nav-ul {}

.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-ul li {
    display: inline-block;
    padding: 10px 20px;
}

.nav-ul li a {
    text-decoration: none;
    color: var(--dark-color);
    font-size: 18px;
    font-weight: 500;
}

/* banner section */
.banner-content {
    text-align: center;
    width: 600px;
    margin: 5rem auto;
}

.banner-img img {
    width: 100%;
    padding: 20px 0;
}

.banner-title {
    font-size: 50px;
    margin-bottom: 10px;
}

/* features-section*/
.features-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;

}

.features-content .lef-img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.features-content .lef-img img {
    width: 240px;
    height: 230px;
}

/* right-content */
.right-content {
    width: 450px;
}

.quick-list {
    color: var(--gray-color);
}

.our {
    color: var(--dark-color);
}

.features {
    color: var(--orange-color);
}

/* experience section */
.experience-content {
    display: flex;
    justify-content: space-evenly;
    gap: 3rem;
}

.experience-left-content {
    width: 500px;
    margin-top: 2rem;
}

.experience-rignt-content {
    width: 100%;
}

.experience-left-content h1 {
    border-left: 5px solid orange;
    padding: 0 13px;
    margin-bottom: 1rem;
    font-weight: 700;
    margin-left: 10px;
}

.padding {
    padding: 10px;
}

.experience-left-content-bottom {
    padding: 20px;
    box-shadow: -2px 1px 14px 3px rgba(240, 233, 233, 0.75);
    margin: 10px 0;
}

.experience-left-content-bottom h3 {
    margin-bottom: 10px;
    counter-reset: var(--dark-color);
    font-weight: 600px;
}

.experience-rignt-content img {
    width: 100%;
}